/* CONFIGURAÇÕES BÁSICAS */
:root {
  --decodificador-main-color: #0a3871;
  --decodificador-second-color: #f3f5fc;

  --not-white: #fefefe;
  --not-black: #080808;
}

body {
  font-family: "Inter", "Courier";
  background-color: var(--decodificador-second-color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1080px;
  height: 720px;
  margin: 0%;
}

button {
  border-color: var(--decodificador-main-color);
  background-color: var(--decodificador-second-color);
  color: var(--decodificador-main-color);
  width: 200px;
  height: 50px;
  border-radius: 20px;
}

button:hover {
  background-color: var(--decodificador-main-color);
  color: var(--not-white);
}

#area_principal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 700px;
}

#imagem_procurando_texto {
  width: 30%;
  height: 20%;
}

#saida_decodificacao {
  background-color: var(--not-white);
  width: 400px;
  height: 3cqw;
  border-radius: 32px;
  border-width: 64px;
  padding: 3%;
}

footer {
  height: 5%;
}
